# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/
.vs/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Build files
dist/
build/

# Python cache
.pytest_cache/
.mypy_cache/

# SQL Server backups
*.bak